<breadcrumb></breadcrumb>
<div class="flex justify-between">
  <div class="flex justify-start items-center gap-2">
    <mat-form-field appearance="fill">
      <mat-label>Business Date</mat-label>
      <mat-select [(ngModel)]="search.cob">
        <mat-option *ngFor="let data of businessDates | async" [value]="data">{{data}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon (click)="refresh()">refresh</mat-icon>
    <mat-icon customToolTip [contentTemplate]="template" [offsetX]="180" [offsetY]="30">info</mat-icon>
    <ng-template #template>
      <mat-card>
        <mat-card-title class="px-4">Note</mat-card-title>
        <mat-card-content>
          <ul class="list-disc pl-4">
            <li *ngFor="let tip of toolTipInfo" class="pb-1">{{tip.text}}
              <mat-chip [style.background-color]="tip.color" *ngIf="tip.color !== ''">{{ tip.color}}</mat-chip>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
<app-template-grid
  (export)="export($event)"
  [rowData]="rowData"
  [gridOptions]="gridOptions"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"></app-template-grid>

